PaletteTriangle/PageManifest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://schemas.azyobuzi.net/PaletteTriangle" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="page">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="title" type="xs:string" />
        <xs:element name="index" type="xs:string" />
        <xs:element name="colors">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="color">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="selector">
                      <xs:complexType>
                        <xs:attribute name="selector" type="xs:string" use="required" />
                        <xs:attribute name="property" type="xs:string" use="required" />
                        <xs:attribute name="template" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="default" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>